# .github\workflows\hacs.yaml

name: HACS Validation

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: HACS validation
        uses: hacs/action@main
        env:
          SKIP_BRANDS_CHECK: 'true'
        with:
          category: integration
