# .github/workflows/validate.yaml

name: Validate

on:
  push:
    branches:
      - main
      - dev
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    name: Validate
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: HACS Validation
        uses: hacs/action@main
        with:
          category: integration

      - name: Hassfest Validation
        uses: home-assistant/actions/hassfest@master
